body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' ,'Arial', sans-serif;
    font-size: 14px;
    color: black;
    box-sizing: border-box;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.menu {
    margin-top: 38px;
}
.logo {
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 30px;
    color: #555252;
}
.logo::first-letter {
    color: #1abc9c;
    font-weight: bold;
}
.menu ul {
    float: right;
    margin: 0;
    padding: 14px 0;
}
.menu-link {
    color: #0f0101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-link:hover {
    color: #1abc9c;
    text-decoration: none;
    text-transform: uppercase;
}

li.menu-item {
    float: left;
    list-style-type: none;
    margin-right: 37px;
}
li.menu-item:nth-child(6) {
    margin-right: 0;
}
/* section Featured Products */
.product-title {
    margin-top: 113px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    text-transform: uppercase;
    color: #515151;
    font-weight: 900;
}
.product-title::after {
    content: '';
    width: 160px;
    height: 8px;
    margin: 0 auto;
    background: #1abc9c;
    display: block;
    margin-top: 32px;
    margin-bottom: 93px;
}
.produkt-block {
    display: block;
    width: 255px;
    background: #e9f0fd;
    float: left;
    margin-right: 30px;
    text-decoration: none;
    margin-bottom: 30px;
}
.produkt-img {
    background: #e9f0fd;
    display: block;
}
.produkt-block:hover .block-produkt_price {
    background: #1abc9c;
}
.block-produkt_price:hover  {
    background: #1abc9c;
}
.block-produkt_price h3:hover .block-produkt_price {
    background: #1abc9c;
}
.produkt-block:nth-child(4) {
    margin-right: 0;
}
.block-produkt_price {
    background: #323232;
}
.block-produkt_price h3 {
    margin: 0;
    float: left;
    padding: 11px 14px;
}
.price-text {
    color: #ffffff;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
}
.price {
    float: right;
    padding: 11px;
    background: rgba(255, 255, 255, .4);
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
}
/* section "news" */
.news-title {
    margin-top: 113px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 48px;
    text-transform: uppercase;
    color: #515151;
    font-weight: 900;
}
.news-title::after {
    content: '';
    width: 160px;
    height: 8px;
    margin: 0 auto;
    background: #1abc9c;
    display: block;
    margin-top: 32px;
    margin-bottom: 93px;
}
.news-block {
    width: 350px;
    float: left;
    height: auto;
    overflow: hidden;
    margin-right: 30px;
}
.news-block:last-child {
    margin-right: 0;
}
.news-block h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #555252;
}
.news-block h3::after {
    content: '';
    width: 136px;
    height: 3px;
    background: #1abc9c;
    display: block;
    margin-top: 13px;
    margin-bottom: 30px;
}
.news-block p {
    line-height: 26px;
    color: #555252;
}
.news-link {
    width: 160px;
    line-height: 52px;
    display: block;
    background: #1abc9c;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid#1abc9c;

}
.news-link:hover {
    color: #1abc9c;
    background: #ffffff;
    border: 1px solid#1abc9c;
    transition: 1s;
}
